<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @send_user_receiver_message.username %>
</p>

<p>
  <b>Receiver:</b>
  <%= @send_user_receiver_message.receiver %>
</p>

<p>
  <b>Message:</b>
  <%= @send_user_receiver_message.message %>
</p>


<%= link_to 'Edit', edit_send_user_receiver_message_path(@send_user_receiver_message) %> |
<%= link_to 'Back', send_user_receiver_messages_path %>
