<%= form_for(@send_username_find_message) do |f| %>
  <% if @send_username_find_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@send_username_find_message.errors.count, "error") %> prohibited this send_username_find_message from being saved:</h2>

      <ul>
      <% @send_username_find_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
