<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @register.username %>
</p>

<p>
  <b>Password:</b>
  <%= @register.password %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
