<h1>Listing student_infos</h1>

<table>
  <tr>
    <th>Student</th>
    <th>Xcoord</th>
    <th>Ycoord</th>
    <th>Sessionstatus</th>
    <th>Timeconnected</th>
    <th>Lastmodified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_infos.each do |student_info| %>
  <tr>
    <td><%= student_info.student %></td>
    <td><%= student_info.xCoord %></td>
    <td><%= student_info.yCoord %></td>
    <td><%= student_info.sessionStatus %></td>
    <td><%= student_info.timeConnected %></td>
    <td><%= student_info.lastModified %></td>
    <td><%= link_to 'Show', student_info %></td>
    <td><%= link_to 'Edit', edit_student_info_path(student_info) %></td>
    <td><%= link_to 'Destroy', student_info, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student info', new_student_info_path %>
