<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @student_info.student %>
</p>

<p>
  <b>Xcoord:</b>
  <%= @student_info.xCoord %>
</p>

<p>
  <b>Ycoord:</b>
  <%= @student_info.yCoord %>
</p>

<p>
  <b>Sessionstatus:</b>
  <%= @student_info.sessionStatus %>
</p>

<p>
  <b>Timeconnected:</b>
  <%= @student_info.timeConnected %>
</p>

<p>
  <b>Lastmodified:</b>
  <%= @student_info.lastModified %>
</p>


<%= link_to 'Edit', edit_student_info_path(@student_info) %> |
<%= link_to 'Back', student_infos_path %>
