<h1>RUSocial Backend</h1>
<h1>Debug Page</h1>
<br>
<h2>THESE ARE THE TABLES THAT ARE USED FOR RUSOCIAL APP </h2>
<br>
<%= link_to "users", users_path %>
<br><br>
<%= link_to "messages", messages_path %>
<br><br>
<%= link_to "friends", friends_path %>
<br><br>
<p>=================END===========================</p>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<p></p>
<h3>Irrelevant Tables </h3>

<%= link_to "Register", registers_path %>
<p></p>
<%= link_to "Send in username password and geolocation", send_user_pass_geos_path %>
<p></p>
<%= link_to "Send in geolocation", send_geos_path %>
<p></p>
<%= link_to "Send in username - get friends", send_username_find_friends_path %>
<p></p>
<%= link_to "Send in username - get messages", send_username_find_messages_path %>
<p></p>
<%= link_to "Send in user receiever and message", send_user_receiver_messages_path %>
<p></p>
<%= link_to "Send in username, status", send_username_statuses_path %>
<br><br>
<%= link_to "Entire DB", people_path %>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<p>Page located in app/views/home/index.html.erb</p>
<br><br>
<br><br>
<br><br><br><br>
<%= link_to "UserTables", user_tables_path %>
<br><br>
<br><br>
<h6>Backend by: Christopher Chan</h6>