<h1>RUSocial Backend</h1>
<p></p>
<h1>Debug Page</h1>
<%= link_to "Register", registers_path %>
<p></p>
<%= link_to "Send in username password and geolocation", send_user_pass_geos_path %>
<p></p>
<%= link_to "Send in geolocation", send_geos_path %>
<p></p>
<%= link_to "Send in username - get friends", send_username_find_friends_path %>
<p></p>
<%= link_to "Send in username - get messages", send_username_find_messages_path %>
<p></p>
<%= link_to "Send in user receiever and message", send_user_receiver_messages_path %>
<p></p>
<%= link_to "Send in username, status", send_username_statuses_path %>
<br><br>
<%= link_to "Entire DB", people_path %>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<p>Page located in app/views/home/index.html.erb</p>
<br><br>
<br><br>
<br><br><br><br>
<br><br>
<br><br>
<h6>Backend by: Christopher Chan</h6>