<h1>Listing send_username_statuses</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @send_username_statuses.each do |send_username_status| %>
  <tr>
    <td><%= send_username_status.username %></td>
    <td><%= send_username_status.status %></td>
    <td><%= link_to 'Show', send_username_status %></td>
    <td><%= link_to 'Edit', edit_send_username_status_path(send_username_status) %></td>
    <td><%= link_to 'Destroy', send_username_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Send username status', new_send_username_status_path %>
