<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Geox:</b>
  <%= @user.geoX %>
</p>

<p>
  <b>Geoy:</b>
  <%= @user.geoY %>
</p>

<p>
  <b>Status:</b>
  <%= @user.status %>
</p>

<p>
  <b>Status message:</b>
  <%= @user.status_message %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
