<h1>Listing send_geos</h1>

<table>
  <tr>
    <th>Geox</th>
    <th>Geoy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @send_geos.each do |send_geo| %>
  <tr>
    <td><%= send_geo.geoX %></td>
    <td><%= send_geo.geoY %></td>
    <td><%= link_to 'Show', send_geo %></td>
    <td><%= link_to 'Edit', edit_send_geo_path(send_geo) %></td>
    <td><%= link_to 'Destroy', send_geo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Send geo', new_send_geo_path %>
